:root {
  --main-color: #FF9800;
  --secondary-color: #B80000;
  --highlight-color: #820300;
  --main-bg-color: #5F8670;
  --secondary-bg-color: #B80000;
}
* {
  font-family: courier;
}
.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
  }
  .heading {
    color: var(--main-color);
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: var(--secondary-color);
  }
  .site-title {
    font-size: 3rem;
    color: var(--highlight-color);
    font-weight: 700;
    margin: 3rem 0;
  }
.post-container {
  padding: 10px;
  margin-top: 20px;
  background-color: var(--secondary-bg-color);
}

.post-overview-title {
  color: var(--main-color);
  text-decoration: none;
}
.post-container-link {
  text-decoration: none;
}

.zoom-container {
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.zoom-container:hover {
  transform: scale(1.04);
}

body {
    background-color: var(--main-bg-color);
  }