:root {
  --main-color: #001524;
  --secondary-color: #ff7d00;
  --highlight-color: #ff7d00;
  --main-bg-color: #ffecd1;
  --secondary-bg-color: #15616d;
}
* {
  font-family: courier;
}
.container {
    margin: auto;
    max-width: 1280px;
    font-family: sans-serif;
  }
.project-container{
  max-width: 60vh;
}
  .heading {
    color: var(--main-color);
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: var(--secondary-color);
  }
  .site-title {
    font-size: 3rem;
    color: var(--highlight-color);
    font-weight: 700;
    margin: 3rem 0;
  }
.post-container {
  padding: 10px;
  margin-top: 20px;
  background-color: var(--secondary-bg-color);
}

.post-overview-title {
  color: var(--secondary-color);
  text-decoration: none;
}
.post-container-link {
  text-decoration: none;
}

.zoom-container {
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.zoom-container:hover {
  transform: scale(1.03);
}

.flex-container {
  /* Safari */
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  /* Standard syntax */
  display: flex;
  flex-wrap: wrap;  
  flex-shrink: 0;
  gap: 15px;
}
.flex-container div{
  flex: 1 0 auto;

}

.flex-container-inside{
  width: 30%;
  min-width: 300px;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
  }